.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
static/project-template/ai2html-output/*
static/project-template/src/config.yml
!.gitkeep
yarn-error.log
